* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #a0f1bd;

}

.Calculator {
    width: 360px;
    background: #fff;
    border-radius: 16px;
    padding: 28px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}


/* screen */

.screen input {
    width: 100%;
    overflow-x: auto;
    height: 72px;
    border: none;
    border-radius: 12px;
    background: #dfdede;
    padding: 14px 18px;
    font-size: 28px;
    text-align: right;
    color: #111;
    margin-bottom: 18px;
    outline: none;
}


.buttons {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-auto-rows: 72px;
    gap: 12px;
}

/*  buttons  */
.button {
    border: none;
    border-radius: 12px;
    background: transparent;
    font-size: 22px;
    cursor: pointer;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* C and % button css */

.control {
    color: #1976d2;
    font-weight: 600;
}

/* all operators */
.operator {
    color: #1976d2;
    font-weight: 600;
}

/* back button css */

.back {
    color: #1976d2;
}

/* numbers */
.num {
    color: black;
}

/*  black dot */
.dot {
    color: black;
}

/*  operators bg lighter color  */
.operator,
.control,
.back {
    background: rgba(25, 118, 210, 0.04);
    border-radius: 12px;
}

/* equal button */

.equal {

    grid-column: 4;

    grid-row: 4 / 6;

    background: #1976d2;
    color: white;
    font-size: 28px;
    border-radius: 16px;
}